body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0f0f3c;
}

.dashboard-container {
  display: flex;
  height: 100vh;
  /* background-color: #f6f7fb; */
}

.sidebar {
  width: 250px;
  background-color: #0f0f3c;
  color: white;
  padding: 20px;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.nav-menu .sub-item {
  margin-left: 15px;
  font-size: 14px;
}

.nav-menu .active {
  font-weight: bold;
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart-box {
  margin-top: 30px;
  border: 1px solid #dedede;
  border-radius: 10px;
  background-color: #fafafa;
}

.alert-section {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}
